body,
html {
    margin: 0;
    padding: 0;
}

.page {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

#page-one {
    position: realtive;
}

#bg-image {
    width: 95%;
    height: 95%;
    object-fit: cover;
    margin: 2.5%;
}
#bg-image-particle {
    width: 400px;
    height: 500px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-15deg);
}
.text p {
    color: white;
    font-size: 24px;
    margin: 5px 0 0 0;
    background-color: black;
    padding: 8px 24px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.text-top-right {
    position: absolute;
    top: 3%;
    right: 3%;
    max-width: 200px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#page-two {
    background-color: rgb(243, 243, 230);
    font-family: Tahoma, sans-serif, monospace;
}

h1 {
    width: 100%;
    font-size: 100px;
    margin-bottom: 20px;
    margin-left: 115px;
    margin-top: 0%;
}

h2 {
    color: rgb(159, 7, 7);
    margin-left: 10px;
}
h3 {
}

h4 {
    width: 81%;
    font-size: 20px;
    margin-top: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-left: 115px;
    margin-bottom: 0%;
}

.Avsnitt1 {
    float: left;
    text-align: left;
    width: 30%;
    margin-left: 100px;
}
.Avsnitt2 {
    width: 24%;
}
.Avsnitt3 {
    margin-top: 0px;
    width: 23%;
}
.Avsnitt1,
.Avsnitt2,
.Avsnitt3 {
    padding-top: 0px;
    float: left;
    padding: 15px;
    text-align: justify;
    text-align: left;
}

#Boks {
    background-color: rgb(216, 212, 197);
    margin-bottom: -13px;
    padding: 4px;
}
#info {
    margin-left: 10px;
    margin-bottom: 33px;
}

#Stor {
    margin-top: -14px;
    float: left;
    font-size: 70px;
}

.infoBoks {
    background-color: rgb(0, 118, 174);
    font-weight: bold;
    margin-top: 400px;
    margin-left: 100px;
    margin-right: 100px;
    height: 400px;
    color: rgb(242, 242, 242);
    margin-bottom: 100px;
}

#Stor1 {
    background-color: yellow;
    color: black;
    float: left;
    font-size: 30px;
    width: 40px;
    margin-right: 12px;
    text-align: center;
}
#Stor2 {
    background-color: yellow;
    color: black;
    float: left;
    font-size: 30px;
    width: 40px;
    margin-right: 12px;
    text-align: center;
}
#Stor3 {
    background-color: yellow;
    color: black;
    float: left;
    font-size: 30px;
    width: 40px;
    margin-right: 12px;
    text-align: center;
}
.velkjent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.uformelig,
.todelt,
.velkjent {
    width: 33%;
    float: left;
    padding: 15px;
}
