body,
html {
    margin: 0;
    padding: 0;
}

.page {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

#page-one {
    position: realtive;
}

#bg-image {
    width: 95%;
    height: 95%;
    object-fit: cover;
    margin: 2.5%;
}
#bg-image-particle {
    width: 400px;
    height: 500px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-15deg);
}
.text p {
    color: white;
    font-size: 24px;
    margin: 5px 0 0 0;
    background-color: black;
    padding: 8px 24px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.text-top-right {
    position: absolute;
    top: 3%;
    right: 3%;
    max-width: 200px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#page-two {
}
